/* Container for the toggle switch */
.toggle-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    /* border: 1px dashed green; */
  }
  
  /* Label for the toggle switch */
  .toggle-label {
    margin-right: 10px;
  }
  
.switch{
    background-color: white;
    border-radius:1rem;
    /* transform: translateX(-200%); */
}

  /* Hide the default checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider: the part that is animated */
  .slider {
    position: relative;
    cursor: pointer;
    width: 36px;
    height: 20px;
    background-color: grey;
    border-radius: 34px;
    transition: background-color 0.3s;
  }
  
  /* Slider circle */
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    transition: transform 0.3s;
  }
  
  /* Checked state of the slider */
  input:checked + .slider {
    background-color: lime;
  }
  
  /* Move the slider circle to the right when checked */
  input:checked + .slider:before {
    transform: translateX(16px);
  }
  