.screen0_Base{
    box-shadow: 0 0 15px black;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
    gap: 1rem;
}

.input_Selection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}