nav{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
}

.screenShare{
    position: absolute;
    /* border: 1px solid white; */
    bottom: 60px;
    left: 0;
    display: none;
    /* width: 15rem; */


}

.screenShare video{
    width: 240px;
}

.screenShare button{
    position: absolute;
    right: 0;
    bottom: 0;
}