.appbase{
 width: 100vw;
 height: 100vh;
 background: rgb(5, 44, 56);
 background-image: url(./Media//Vagaro_Logo.png);
 background-repeat: no-repeat;
 background-position: center;
 background-size:contain;
 color: white;
}




